{ BasedOnStyle: LLVM, UseTab: Always, IndentWidth: 4, TabWidth: 4, BreakBeforeBraces: Allman, AllowShortIfStatementsOnASingleLine: false, IndentCaseLabels: false, ColumnLimit: 300, AccessModifierOffset: -4, NamespaceIndentation: All, FixNamespaceComments: false, AllowShortBlocksOnASingleLine: Empty, AllowShortFunctionsOnASingleLine: Empty, SpaceBeforeParens: ControlStatements, InsertNewlineAtEOF: False, BreakBeforeBraces: Attach, IndentCaseBlocks: True, IndentCaseLabels: True }